<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="news" data-dep2="newsletter" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">News Letter</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="container">
                    <form action="">
                        <fieldset>
                            <legend>SEARCH</legend>
                            <div class="board-search">
                                <div class="row row-10">
                                    <div class="col-auto">
                                        <select name="s" id="lbl2" class="custom-select custom-select-lg">
                                            <option value="searchAll" selected="">제목+내용</option>
                                            <option value="searchTitle">제목</option>
                                            <option value="searchContent">내용</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control form-control-lg" placeholder="KEYWORDS">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-lg btn-gray">SEARCH</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="count">
                        <span>Total</span>
                        <i>8</i>
                        <span>Page</span>
                        <i>2</i>
                    </div>
                    <table class="table table-hover">
                        <colgroup>
                            <col>
                            <col style="width: 150px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">Title</th>
                                <th class="text-center">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Title" class="text-left"><a href="newsletterDetail.html">스토킹 피해자 보호와 지원 강화를 위한 입법과제</a></td>
                                <td data-label="Date" class="text-center">2021-11-26</td>
                            </tr>
                        </tbody>
                    </table>
                    <%- include('../layout/_pagination.ejs')%>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>