<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header_cidc.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="publicationsCIDC" data-dep2="research" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">Research Publications</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="container">
                    <div class="gallery-list">
                        <ul class="row row-60">
                            <% for(var i = 0; i < 4; i++){ %>
                            <li class="col-12 col-lg-4 col-xl-3">
                                <div class="item">
                                    <a href="pubResearchDetail.html">
                                        <div class="img">
                                            <img src="http://cidc.kwdi.re.kr/upload/board/20180202154949_3856.jpg" alt="">
                                            <div class="layer">
                                                <div class="tit">A Study on the Gender-sensitive Textbook Revision in South Korea</div>
                                                <dl class="info">
                                                    <dt>Author</dt>
                                                    <dd>KWDI</dd>
                                                    <dt>Date</dt>
                                                    <dd>2021-06-15</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="download">
                                        <a href="">Download File <i class="icon-download ml-2"></i></a>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <%- include('../layout/_pagination.ejs')%>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>