<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header_cidc.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="workshop" data-dep2="nepal" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">Local Government's Capacity Building on Gender Sensitive Education in Nepal(2021-2022)</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="container">
                    <div class="card-news photos">
                        <div class="row">
                            <% for(var i = 0; i < 5; i++){ %>
                                <div class="col-6 col-lg-4 col-xl-3">
                                    <div class="card">
                                        <a href="workshopSsageDetail.html" class="img">
                                            <img src="https://cidc.kwdi.re.kr/upload/photo/20170105102232_3104.jpg" alt="">
                                        </a>
                                        <div class="card-body">
                                            <a href="" class="card-title">2016 KWDI SSAGE Workshop</a>
                                            <p class="card-text"><span class="text-muted">0000-00-00</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 col-xl-3">
                                    <div class="card">
                                        <a href="workshopSsageDetail.html" class="img">
                                            <img src="https://cidc.kwdi.re.kr/upload/photo/20170105102232_3104.jpg" alt="">
                                        </a>
                                        <div class="card-body">
                                            <a href="" class="card-title">2The 2nd Korea-ASEAN International Conference on Gender and Development</a>
                                            <p class="card-text"><span class="text-muted">0000-00-00</span></p>
                                            <div class="ico"><i class="icon-youtube"><span class="sr-only">youtube</span></i></div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <%- include('../layout/_pagination.ejs')%>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>